/* Layout Properties */


head {
top: 0px;
left: 0px;
width: 1440px;
height: 715px;
/* UI Properties */
background: transparent url('C:\Users\admin\Desktop\Cronj Assignment\Group 13174.png') 0% 0% no-repeat padding-box;
opacity: 1;
}